.df {
	.df-checkout-ergonomic {

	 	margin: 0;
		padding: 1.3em;
		border: 1px solid #BBAFA0;

		strong {
			font-weight: bold;

			* {
				font-weight: bold;
			}
		}


		.field {
			label {
				text: {
					transform: lowercase;
				}
			}
		}


		/* Стили стандартной темы Magento */
		h3,h4,h5,h6 {
		    line-height:1.35;
		}


		h1 {
			font-size: 20px;
			line-height: 40px;
		}


        input, select, textarea, button {
			font-size: 12px;
			line-height: 15px;
        }


        input.input-text, textarea {
			padding: 2px;
        }


        a.df-login {
            display: block;
            cursor: pointer;
            font-weight: bold;
			margin: 6px 0 0 0;
        }


		.df-body {

  			width: 100%;
  			overflow: hidden;
  			margin: 1em 0 0 0;
  			padding: 1em 0 0 0;

  			border: {
 				top: 1px solid rgb(216, 210, 199);
  			}


  			.df-body-left {
				width: 31.8%;
				float: left;
				padding: 0 1.5% 0 0;
  			}


  			.df-body-right {
 				width: 66.6%;
				float: left;

				.df-body-right-top {
					width: 100%;
					overflow: hidden;
				}
  			}


			h2 {
				font-size: 15px;
				text-transform: uppercase;
				font-weight: bold;
				color: rgb(64, 64, 64);

				background: {
					position: top left;
					repeat: no-repeat;
				}

				padding: 0 0 0 41px;
				height: 41px;
				line-height: 30px;
			}


			.df-h3 {
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				color: rgb(64, 64, 64);
				line-height: 25px;
			}


			.df-block {
				.form-list {

					li.fields {
						width: 254px;
						overflow: hidden;

						div.field {
							width: 120px;
							float: left;

							.input-box {

								width: 120px;
								clear: none;

								input.input-text {
									width: 114px;
								}

								select {
									width: 114px;
								}
							}
						}

						div.df-field-last {
							width: 120px;
							float: right;
						}
					}



					li.wide {

						width: 254px;

						.input-box  {

							width: 254px;

							input.input-text {
								width: 248px;
							}

							select {
								width: 254px;
							}
						}

					}


					.df-field-street {
						.df-street-line-1 {
							margin: 0 0 8px 0;
						}
					}

				}

				#billing-buttons-container
				,
				#shipping-buttons-container {
					display: none;
				}
			}



			.df-block-login {
				.col2-set {
					.col-1
					,
					.col-2 {
						float: none;
						width: auto;
					}

					.col-1 {
						h3, p, h4, ul.ul {
							display: none;
						}
					}

					.col-2 {
						h4, p {
							display: none;
						}
					}
				}

			}


			#co-shipping-form {
				.control {
					display: none;
				}
			}


			.df-column-1
			,
			.df-column-2 {
				background: {
					image: url('../../images/checkout/ergonomic/separator/vertical.gif');
					position: top right;
					repeat: no-repeat;
				}
			}



			.df-column-2
			,
			.df-column-3 {
				width: 45.5%;
				float: left;

				.buttons-set {
					display: none;
				}
			}



			.df-column-1 {

				h2 {
					background: {
						image: url('../../images/checkout/ergonomic/step/number/1.png');
						repeat: no-repeat;
					}
				}
			}

			.df-column-2 {

				padding: 0 3%;

				h2 {
					background: {
						image: url('../../images/checkout/ergonomic/step/number/2.png');
						repeat: no-repeat;
					}
				}
			}

			.df-column-3 {

				padding: 0 0 0 3%;

				h2 {
					background: {
						image: url('../../images/checkout/ergonomic/step/number/3.png');
						repeat: no-repeat;
					}
				}
			}


			.df-block-method-review {

                margin: 1em 0 0 0;

				h2 {
					background: {
						image: url('../../images/checkout/ergonomic/step/number/4.png');
						repeat: no-repeat;
					}
					margin: {
						left: 3%;
					}
				}


				/* Стили стандартной темы Magento */

				/* Data Table */
				.data-table { width:100%; border:1px solid #bebcb7; }
				.data-table .odd  { background:#f8f7f5 }
				.data-table .even { background:#eeeded; }
				/*.data-table tr.odd:hover,
				.data-table tr.even:hover { background:#ebf1f6; }*/
				.data-table td.last,
				.data-table th.last { border-right:0; }
				.data-table tr.last th,
				.data-table tr.last td { border-bottom:0 !important; }
				.data-table th { padding:3px 8px; font-weight:bold; }
				.data-table td { padding:3px 8px; line-height: 1.7; }

				.data-table thead th { font-weight:bold; border-right:1px solid #c2d3e0; padding:2px 8px; color:#0a263c; white-space:nowrap; vertical-align:middle; }
				.data-table thead th.wrap { white-space:normal; }
				.data-table thead th a,
				.data-table thead th a:hover { color:#fff; }
				.data-table thead th { background:url(../../../../../default/default/images/bkg_th.gif) repeat-x 0 100% #d9e5ee; }
				.data-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

				.data-table tfoot { border-bottom:1px solid #d9dde3; }
				.data-table tfoot tr.first td { background:url(../../../../../default/default/images/bkg_tfoot.gif) 0 0 repeat-x; }
				.data-table tfoot tr { background-color:#dee5e8 !important; }
				.data-table tfoot td { padding-top:1px; padding-bottom:1px; border-bottom:0; border-right:1px solid #d9dde3; }
				.data-table tfoot strong { font-size:16px; }

				.data-table tbody th,
				.data-table tbody td { border-bottom:1px solid #d9dde3; border-right:1px solid #d9dde3; }
				/* Bundle products tables */
				.data-table tbody.odd tr { background:#f8f7f5 !important; }
				.data-table tbody.even tr { background:#f6f6f6 !important; }
				.data-table tbody.odd tr td,
				.data-table tbody.even tr td { border-bottom:0; }
				.data-table tbody.odd tr.border td,
				.data-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }

				.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
				.data-table tbody td .option-value { padding-left:10px; }


				#checkout-agreements {
					.df-order-comment-container {
		 				width: 75%;

						textarea {
							display: block;
							width: 100%;
						}
					}
				}

			}

		}


	}
}