#cnslider-container{
	display:block;
	padding-bottom:10px;
	float:left;
	position:relative;
	}

	.cns-item .cns-contentbox{
		float:left;
		position:absolute;
		width:70%;
		top:50px;
		left:40px;
		}
	
	.cns-contentbox h2.cns-tille{
		color: #FFF;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 25px;
		font-weight: bold;
		line-height: 25px;
		padding-bottom:5px;
		}
		
	.cns-inner-content{
		font-size:15px;
		font-family:Georgia, "Times New Roman", Times, serif;
		line-height:15px;
		color:#FFF;
		}
		
	.cns-contentbox .cns-link{
		padding:275px 0 0 0;
		}
		
.cns-pagination{
	position:absolute;
	bottom:30px;
	right:10px;
	z-index:100;
	}
	
	.cns-pagination li{float:left;position:relative;width:17px;height:17px;padding:0 3px;}
	
	.cns-pagination li a{display:block;text-indent:20000px;background:url(../../images/cybernetikz_cnslider/pagination.png) no-repeat center -22px;width:18px;height:18px;}
	.cns-pagination li.activeSlide a{background:url(../../images/cybernetikz_cnslider/pagination.png) no-repeat;}
	
.cns-pauseplay{
    bottom: 30px;
    position: absolute;
    left: 195px;
    width:17px;
    height:17px;
    z-index: 101;
	}
	
	#cns-pause{width:17px;height:17px;}
	
	#cns-play{
		width:17px;
		height:17px;
		display:none;
		}

      #cns-prevnext{position:absolute; z-index:100;width:50px; left: 240px; bottom: 30px;}
	
	#prev_button{ width:17px;float:left;position:relative; }
	
	#next_button{ width:17px;float:left;position:relative; left: 5px;}

		