

@media print {
    @page {
        size: landscape
	}
}


@import 'torg12/_heading';
@import 'torg12/_body';
@import 'torg12/_footer';
@import 'torg12/_corrections';


@media print {

	.df {
		.df-shipping-torg12 {
			padding: 0;
			border: 0;
		}
	}


	@page {
		margin: 5mm;


		td {
			page-break-inside: avoid;
			page-break-after: auto;
		}

		thead {
			display:table-header-group;
		}


		/**
		 * Непонятно, как решать: http://www.greywyvern.com/code/opera/bugs/tfootinPrintPreview
		 */

		tfoot {
		    display:table-footer-group;
		}
	}
}


