<?php

    $_coreHelper = $this->helper('core');
    $_taxHelper  = $this->helper('tax');

?>
<?php $_productCollection=$this->getLoadedProductCollection() ?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

<?php 
 echo $this->getToolbarHtml();
?>
    <?php // List mode ?>

  <ul class="prodict-box">

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); 

    $_columnCount = 3;
?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>

        <?php if ($i++%$_columnCount==0): ?>
	<li>
		<ul class="product-list">
        <?php endif ?>

<li>
	<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(220); ?>"  width="220" height="160" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
	<div class="info-product">
		<a href="<?php echo $_product->getProductUrl() ?>"  class="product-name" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a>
<? 
//		<span class="info">Постельное белье, 1,5 ЕВРО</span>

					if($_product->getSku() !="") 
						echo '<span class="info">Артикул: '.$_product->getSku().'</span>';
?>
	   <div class="holder-price">
			<span class="price">
<?php 

		$_price    = $_product->getPrice();
		$_price_m2 = $_product->getPrice_m2();
		$_up 	   = $_product->getAttributeText('upakovka_tip');

		if($_price_m2 > 0) {
			$ShowPrice = $_price_m2;
		} else {
			$ShowPrice = $_price;
		}



// echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getUpakovka_tip()), 'Upakovka_tip');
// echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getUpakovka_tip()), 'Upakovka_tip');


//		} else {
//			$ShowPrice = $_price;
//			echo '<div class="opisprice">за упаковку</div>';
//		}


			echo $_coreHelper->currency($ShowPrice, true, true);
			echo '<div class="opisprice">'. $_up .'</div>';
?>
			</span>
               	        <a style="font-size:9px;margin-right:0px;" href="<? echo $this->getAddToCartUrl($_product); ?>" class="in-basket"><?php echo $this->__('Add to Cart') ?></a>
	    </div>
	</div>
</li>
        <?php 
// echo $i%$_columnCount;
if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
		   </ul>
	</li>
        <?php endif ?>
        <?php endforeach 

//        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
?>

  </ul>
<?php endif; ?>
