<?php
/**
 * Template for filter items block
 *
 * @see Mage_Catalog_Block_Layer_Filter
 */
?>

<?php foreach ($this->getItems() as $_item): ?>

	<div class="filter-item">
		<div class="item-text">
        	  <?php if ($_item->getCount() > 0): ?>
			<a href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?></a>
        	  <?php else: echo $_item->getLabel() ?>
			<a href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?></a>
	          <?php endif; ?>
		</div>
        <?php if ($this->shouldDisplayProductCount()): ?>
		<div class="item-count"><?php echo $_item->getCount() ?></div>
        <?php endif; ?>
	</div>

<?php endforeach ?>


