<?
?>
<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function(){      
function setCookie(a,b,c){if(c){var d=new Date();d.setTime(d.getTime()+(c*24*60*60*1000));var e="; expires="+d.toGMTString()}else var e="";document.cookie=a+"="+b+e+"; path=/"}function getCookie(a){var b=a+"=";var d=document.cookie.split(';');for(var i=0;i<d.length;i++){var c=d[i];while(c.charAt(0)==' ')c=c.substring(1,c.length);if(c.indexOf(b)==0)return c.substring(b.length,c.length)}return null}function delCookie(a){setCookie(a,"",-1)}
jQuery('div.block a.expand').each(function(i){
var cookie=getCookie('expand'+i);
 if (cookie&&cookie.indexOf('show')>-1){jQuery(this).toggleClass('show').siblings('div.hideCont').show();jQuery(this).html('Свернуть');}	
})
jQuery('div.block a.expand').click(function(){
 jQuery(this).toggleClass('show').siblings('div.hideCont').slideToggle('normal');
 var expand=jQuery('div.block a.expand').index(jQuery(this)),isShow=jQuery(this).attr('class');
 setCookie('expand'+expand,isShow,365);
 if(isShow=='expand')	jQuery(this).html('Развернуть');
 else jQuery(this).html('Свернуть');
 return false;
});
});
// ]]>
</script>
<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
?>

<?php 
// echo '<div class="page-title category-title"><h1>';
//  echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') 
// echo '</h1></div>';
?>

<?php if($this->canShowBlock()): ?>


<form class="sorting-product">

		<span class="title">Подбор товара</span>

<div class="holder">
        <?php echo $this->getStateHtml() ?>
        <?php if ($this->getLayer()->getState()->getFilters()): ?>
            <div style="padding:5px 0 0 80px;"><a class=button href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
        <?php endif; ?>
        <?php if($this->canShowOptions()): ?>

            <p class="block-subtitle"><?php echo $this->__('Shopping Options') ?></p>

                <?php $_filters = $this->getFilters() ?>
                <?php foreach ($_filters as $_filter): ?>
                <?php if($_filter->getItemsCount() && $_filter->getName() !='Цена за м2'): ?>

		<div class="block">
			<div class="head-box">
				<span class="title"><?php echo $this->__($_filter->getName()) ?></span>
				<a href="#" class="expand"><span>Развернуть</span></a>
			<div style="clear:both;"></div>
			<div class="hideCont">	
        	            <?php echo $_filter->getHtml() ?>
        		</div>
			</div>

                </div>


                <?php endif; ?>
                <?php endforeach; ?>

        <?php endif; ?>
</div>
</form>
<?php endif; ?>
