/* Основной  */
/*
@font-face {
    font-family: '18vag_rounded_mbold';
    src: url('../font/18vag_rounded_m_bold-webfont.eot');
    src: url('../font/18vag_rounded_m_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/18vag_rounded_m_bold-webfont.woff') format('woff'),
         url('../font/18vag_rounded_m_bold-webfont.ttf') format('truetype'),
         url('../font/18vag_rounded_m_bold-webfont.svg#18vag_rounded_mbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
body {
	margin:0;
	color:#424242;
	font:12px Tahoma, Geneva, sans-serif;
	background:#7f7f7f url(/skin/frontend/default/shop/i/bg-bodyB.png) repeat-x;
}
img {border-style:none;}
a {
	text-decoration:underline;
	color:#333;
}
a:hover {
	text-decoration:none;
}
input, 
textarea, 
select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	outline: none;
}
form, 
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}

#wrapper {
	background: #fff;
	max-width:1298px;
	min-width:1102px;
	margin:0 auto;
	position:relative;
	background:#fff url(/skin/frontend/default/shop/i/bg-body-short.png) repeat-x;
}
.innerdiv {
	width:1102px;
	margin:0 auto;
}
.holder { 
	overflow:hidden;
}

.holder-after:after {
	content:"";
	display:block;
	clear:both;
}
.panel-top {
	height:35px;
	background: url(/skin/frontend/default/shop/i/bg-panel-top.gif) repeat-x;
	padding:9px 0 11px;
}
.panel {
	margin:0;
	padding:5px 0 0 39px;
	overflow:hidden;
	list-style:none;
	float:left;
}
.panel li:first-child {
	padding-left:0;
	background:none;
}
.panel li {
	padding:0 9px 0 13px;
	background: url(/skin/frontend/default/shop/i/bullet-panel.png) no-repeat 0 50%;
	font:11px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	float:left;
}
.panel li a {
	color:#838484;
	text-decoration:none;
}
.panel li a:hover { text-decoration:underline;}
.search {
	float:right;
	overflow:hidden;
	padding:0 37px 0 27px;
}
.search input[type="text"] {
	width:158px;
	height:25px;
	float:left;
	background: url(/skin/frontend/default/shop/i/bg-search.png) no-repeat;
	border:none;
	margin:0 7px 0 0;
	padding:0 10px;
	line-height:24px;
}
.search input[type="submit"] {
	width:12px;
	height:25px;
	float:left;
	background: url(/skin/frontend/default/shop/i/bt-search.png) no-repeat 0 50%;
	border:none;
	cursor:pointer;
}
.login {
	float:right;
	margin:0;
	padding:5px 0 0;
	list-style:none;
}

.login li:first-child {
	padding-left:0;
	background:none;
}

.login li {
	padding:0 9px 0 13px;
	background: url(/skin/frontend/default/shop/i/bullet-panel.png) no-repeat 0 50%;
	font:11px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	float:left;

}
.login li a {
	color:#838484;
	text-decoration:none;
/*	border-bottom:1px dashed #838484;*/
	text-transform: uppercase;
}
.login li a:hover {
	border:none;
}
.bt-feedback {
	position:absolute;
	top:87px;
	left:0;
	width:29px;
	height:160px;
	display:block;
	background: url(/skin/frontend/default/shop/i/bt-feedback.png) no-repeat;
}
/* header */
#header {
	padding:0 0 14px;
}
.logo a{
	display:block;
	height:100%;
}
.logo {
	float:left;
	width:203px;
	height:48px;
	margin:16px 8px 0 39px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(/skin/frontend/default/shop/i/logo.png) no-repeat;
}
#header .contact {
	float:left;
	width:220px;
	margin:0 32px 0 0;
}
.city {
	float:left;
	padding:0 15px 0 23px;
	font:12px Arial, Helvetica, sans-serif;
	color:#719d1c;
	background: url(/skin/frontend/default/shop/i/arrow-down.png) no-repeat 100% 50%;
	text-decoration:none;
}
.city span {
	border-bottom:1px dashed #719d1c;
	display:block;
}
#header .phone {
	display:block;
	font:25px Arial, Helvetica, sans-serif;
/*	font:bold 24px Arial, Helvetica, sans-serif;*/
	color:#000;
	margin:3px 0 0px 22px;
}
#header .support {
	padding:0 0 0 23px;
/*	background: url(/skin/frontend/default/shop/i/ico-support.png) no-repeat 0 50%;*/
	font:10px Arial, Helvetica, sans-serif;
	color:#838484;
	display:block;
}

.inetshop {
	float:left;
	width:160px;
	padding:0 0px 0 0px;
	font:12px/16px Arial, Helvetica, sans-serif;
	color:#84604e;
	margin:25px 0 0;
}
.inetshop span {
	display:block;
}
.green {
 	color:#719d1c;
}
.garant {
	float:left;
	width:136px;
	padding:0 50px 0 70px;
	background: url(/skin/frontend/default/shop/i/ico-garant.png) no-repeat;
	font:11px/16px Arial, Helvetica, sans-serif;
	color:#838484;
	margin:9px 0 0;
}
.garant .title {
	display:block;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#5d5d5d;
	padding:0 0 6px;
	margin:0 0 7px;
	border-bottom:1px solid #e5e5e5;
}
.socialmain {
	float:left;
	width:135px;
	margin:18px 30px 0 0;
}
.socialmain span{
 padding: 7px 0 0 6px;
}
.socialmain ul {
	margin:0 0 8px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.socialmain ul li:first-child { margin:0;}
.socialmain ul li {
	float:left;
	margin:0 0 0 9px;
}
.socialmain ul li a,
.socialmain ul li img { display:block;}
.socialmain span {
	display:block;
	font:11px/13px Arial, Helvetica, sans-serif;
	color:#838484;
}
.holder-basket {
	padding:0 0 2px 11px;
	border-left:3px solid #e8e8e8;
	float:left;
	margin:11px 0 0;
}
.basket {
	display:block;
	background: url(/skin/frontend/default/shop/i/ico-basket.png) no-repeat 0 50%;
	min-height:26px;
	margin:0 0 10px;
	padding:0 0 0 40px;
}
.basket strong {
	display:block;
	margin:0 0 3px;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#000;
	text-transform:uppercase;
}
.basket span {
	display:block;
	font:11px Arial, Helvetica, sans-serif;
	color:#838484;
}
.holder-basket .delivery {
	float:left;
	font:12px Arial, Helvetica, sans-serif;
	color:#719d1c;
	padding:0 30px 0 0;
	background: url(/skin/frontend/default/shop/i/ico-delivery.png) no-repeat 100% 50%;
}
/* Main */
#main {
	overflow:hidden;
	width:1102px;
	margin:0 auto;
	padding:0 0 45px;
	min-height:450px;
}
h2 {
	margin:15px 0 10px 0;
	font:22px Tahoma, Geneva, sans-serif;
	color:#424242;
}

/* Content */
#content {
	width:1102px;
	overflow:hidden;
}
.holder-banner {
	overflow:hidden;
	padding:0 0 3px;
}
.holder-banner .banner {
	float:left;
	width:353px;
	height:183px;
	margin:0 0 12px;
	position:relative;
	font:12px Arial, Helvetica, sans-serif;
}
.holder-banner .banner a {
	display:block;
	width:353px;
	height:183px;
	position:relative;
}
.holder-banner .banner.black .info-banner {
	background: url(/skin/frontend/default/shop/i/bg-info-banner-black.png);
	color:#fff;
}
.holder-banner .banner.light .info-banner {
	background: url(/skin/frontend/default/shop/i/bg-info-banner-light.png);
	color:#3d1061;
}
.holder-banner .info-banner {
	position:absolute;
	top:0;
	left:0;
	padding:8px 0 15px 26px;
	width:325px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	behavior: url(js/PIE.htc);
}
.holder-banner .info-banner .title {
	display:block;
	font:bold 26px Arial, Helvetica, sans-serif;
	margin:0 0 3px;
}
.holder-banner .info-banner span { display:block;}
.holder-banner .new-ico {
	display:block;
	color:#fff;
	background: url(/skin/frontend/default/shop/i/bg-new-ico.png) no-repeat;
	width:68px;
	height:46px;
	font:21px/46px Arial, Helvetica, sans-serif;
	position:absolute;
	top:43px;
	right:24px;
	text-align:center;
	text-transform:uppercase;
}
h3.title-block {
	margin:0 0 8px 32px;
	font:bold 24px Arial, Helvetica, sans-serif;
	color:#111;
}
.new-product {
	float:right;
	font:11px/30px Arial, Helvetica, sans-serif;
	color:#838484;
	width:330px;
	margin:0 0 0 60px;
}
.all-new-product {
	float:right;
	font:12px/30px Arial, Helvetica, sans-serif;
	color:#719d1c;
	padding:0 15px 0 0;
	background:url(/skin/frontend/default/shop/i/arrow-down.png) no-repeat 100% 50%;
}
.bottom-banner { overflow:hidden;}
.bottom-banner img { display:block;}
.bottom-banner .big-banner {
	float:left;
	margin:0 13px 0 0;
}
.bottom-banner .small-banner { float:left;}
/* Footer */



#footer {
	background:#251a16;
	overflow:hidden;
	background: url(/skin/frontend/default/shop/i/bottom-bg.png);
/*#140b10*/
}

#footer .inner-footer {
/*	background:#251a16 251a16;*/
/*	background: url(/skin/frontend/default/shop/i/bottom-bg.png); 
	padding:35px 35px 30px 114px;
	width:1149px; */
	padding:30px 0 0 0;
	width:1100px;
	margin:0 auto;
        background-color: transparent;
	overflow:hidden;
}
.footer-contact {
	float:left;
	width:200px;
	padding:0 78px 0 24px;
}
.phone-box {margin:0 0 65px;}
.footer-contact .phone {
	font:24px Arial, Helvetica, sans-serif;
	color:#fff;
	display:block;
}
.footer-contact .info-phone {
	display:block;
	width:200px;
	padding:0 0 0 24px;
	background: url(/skin/frontend/default/shop/i/ico-support2.gif) no-repeat 0 50%;
	font:11px Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0 0 0 -24px;
}
.action {margin:0 0 60px;}
.action .title {
	margin:0 0 5px 9px;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#b3acaf;
	display:block;
	text-transform:uppercase;
}
.action input[type="text"] {
	width:177px;
	height:25px;
	background:#fff;
	padding:0 0 0 11px;
	border:none;
	font:12px/25px Arial, Helvetica, sans-serif;
	color:#838484;
	margin: 0 0 8px;
	display:block;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	behavior: url(js/PIE.htc);
	position:relative;
}
.action input[type="submit"]
{
	width:98px;
	height:20px;
	background: url(/skin/frontend/default/shop/i/bg-in-basket.png) repeat-x;
	text-align:center;
	border:none;
	font:bold 10px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	margin: 0 0 0 86px;
	display:block;
	cursor:pointer;
	text-transform:uppercase;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(js/PIE.htc);
	position:relative;
}


a.button:link,a.button:visited
{
/*	width:98px;*/
	height:20px;
	background: url(/skin/frontend/default/shop/i/bg-in-basket.png) repeat-x;
	text-align:center;
	border:none;
	font:bold 10px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	display:inline-block;
	cursor:pointer;
	text-transform:uppercase;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(js/PIE.htc);
	position:relative;
	text-decoration:none;
	padding: 0 25px;
}
a.button:hover,a.button:active
{
	color:#eee;
}


a.smallbutton:link,a.smallbutton:visited
{
/*	width:98px;*/
	height:14px;
	background: url(/skin/frontend/default/shop/i/bg-in-basket.png) repeat-x;
	text-align:center;
	border:none;
	font:bold 9px/14px Arial, Helvetica, sans-serif;
	color:#fff;
	display:inline-block;
	cursor:pointer;
/*	text-transform:uppercase;*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	behavior: url(js/PIE.htc);
	position:relative;
	text-decoration:none;
	padding: 0 15px;
}
a.smallbutton:hover,a.smallbutton:active
{
	color:#eee;
}



.copy {
	display:block;
	font:11px Arial, Helvetica, sans-serif;
	color:#594851;
}
.holder-panel {
/*	width:200px;*/
	width:180px;
	margin:0 11px 0 0;
	float:left;
}
.holder-panel .title {
	display:block;
	margin:0 0 14px;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#fff;
	text-transform:uppercase;
}
.holder-panel .panel-footer {
	margin:0;
	padding:0;
	list-style:none;
}
.holder-panel .panel-footer li {
	font:11px/18px Arial, Helvetica, sans-serif;
	color:#b3acaf;
}
.holder-panel .panel-footer li a {
	text-decoration:none;
	color:#b3acaf;
}
.holder-panel .panel-footer li a:hover { text-decoration:underline;}


#footer .descripion {
	display:block;
	font:11px Arial, Helvetica, sans-serif;
	color:#94796b;
	padding:15px 0 0 0; 
}

#footer .descripion a { color:#719d1c;}
#footer .descripion div {
	display:block;
	margin: 0 45px 0 0;
	float: left;
}



/* Gallery  */
.holder-slider {
	width:737px;
	height:377px;
	float:left;
	margin:0 12px 12px 0;
	position:relative;
}
.gallery {
	width:737px;
	margin:0 0 20px;
	overflow:hidden;
	position:relative;
}
.gallery a.link-next,
.gallery a.link-prev { display:none;}
.gallery div.inner-gallery {
	float:left;
	width:737px;
	overflow:hidden;
	height:377px;
	position:relative;
}
.gallery div.inner-gallery ul {
	position:absolute;
	width:99999px;
	padding:0;
	margin:0;
	list-style:none;
	top:0;
	left:0;
	overflow: hidden;
}
.gallery div.inner-gallery ul li {
	float:left;
	width:737px;
	height:377px;
	position:relative;
}
/* swicher */
.swicher{
	overflow:hidden;
	padding:0;
	position:absolute;
	bottom:20px;
	right:23px;
}
.swicher ul {
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.swicher ul li {
	float:left;
	margin:0 0 0 4px;
}
.swicher ul li a {
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:17px;
	height:17px;
	background: url(/skin/frontend/default/shop/i/bt-slide.png) no-repeat;
	text-decoration:none;
}
.swicher ul li a.active {
	background: url(/skin/frontend/default/shop/i/bt-slide-active.png) no-repeat;
}
.description-slide {
	position:absolute;
	top:0;
	left:0;
	width:235px;
	height:355px;
	background: url(/skin/frontend/default/shop/i/bg-info-slide.png);
	padding:22px 27px 0 31px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	behavior: url(js/PIE.htc);
}
.description-slide .title-slide {
	display:block;
	padding:0 0 10px;
	margin:0 0 15px;
	border-bottom:1px solid #afafaf;
	font:bold 35px Arial, Helvetica, sans-serif;
	color:#fff;
}
.description-slide .description-inner {
	padding:0 12px 0 13px;
	font:12px/12px Tahoma, Geneva, sans-serif;
	color:#fff;
	position:relative;
}
.description-slide .description-inner p { margin:0 0 14px;}
.description-slide .title-info {
	display:block;
	margin:0 0 11px;
	padding:0 0 3px;
	font:bold 15px Tahoma, Geneva, sans-serif;
	color:#fff;
	border-bottom:1px solid #afafaf;
}
.description-slide .info {
	display:block;
	font:12px/12px Tahoma, Geneva, sans-serif;
	color:#fff;
}
.description-slide .info span {
	display:block;
	margin:6px 0 0;
}
.holder-price {
	margin:0 0 12px;
	overflow:hidden;
	font:bold 9px Arial, Helvetica, sans-serif;
}
.holder-price a { 
	font:bold 8px Arial, Helvetica, sans-serif;
	margin-right:0px;
}
.description-slide .more {
	float:left;
	font:bold 17px Arial, Helvetica, sans-serif;
	color:#fff;
	margin:22px 0 0;
}
.description-slide .price
 {
	float:right;
	margin:0 9px 0 0;
	width:90px;
	height:60px;
	background: url(/skin/frontend/default/shop/i/bg-price-slide.png) no-repeat;
	font:bold 20px/40px Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
}
.description-slide .warning {
	float:left;
	width:170px;
	font:9px/9px Tahoma, Geneva, sans-serif;
	color:#aaaaaa;
}
.description-slide .link-holder {
	float:right;
	margin:0 -9px 0 0;
}
.description-slide .next,
.description-slide .prev {
	width:17px;
	height:17px;
	float:right;
	margin:0 0 0 4px;
}
.description-slide .next { background: url(/skin/frontend/default/shop/i/bt-next.png) no-repeat;}
.description-slide .prev { background: url(/skin/frontend/default/shop/i/bt-prev.png) no-repeat;}
.description-slide a.next:hover { background: url(/skin/frontend/default/shop/i/bt-next-active.png) no-repeat;}
.description-slide a.prev:hover { background: url(/skin/frontend/default/shop/i/bt-prev-active.png) no-repeat;}

/* Slider */
.slide-product {
	width:1100px;
	position:relative;
/*	padding:16px 18px 10px 20px;*/
	border:1px solid #e7e7e7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(js/PIE.htc);
	margin:0 0 20px 0;
}
.slide-product a.link-next,
.slide-product a.link-prev {
	float:left;
	width:17px;
	height:17px;
	margin-top:-28px;
}
.slide-product a.link-next {
	margin-left:305px;
	background: url(/skin/frontend/default/shop/i/bt-next-list.gif) no-repeat;
}
.slide-product a.link-prev {
	margin-left:280px;
	background: url(/skin/frontend/default/shop/i/bt-prev-list.gif) no-repeat;
}
.slide-product a.link-next:hover {background: url(/skin/frontend/default/shop/i/bt-next-list-active.gif) no-repeat;}
.slide-product a.link-prev:hover {background: url(/skin/frontend/default/shop/i/bt-prev-list-active.gif) no-repeat;}


.slide-product div.holder-list {
	width:1070px;
	overflow:hidden;
	position:relative;
	min-height:240px;
	margin: 10px 15px;
}

.slide-product div.holder-list ul {
	position:absolute;
	width:99999px;
	padding:0;
	margin:0;
	list-style:none;
	top:0;
	left:0;
	overflow: hidden;
}
ul.product-list li {
	float:left;
/*	width:220px;*/
/*	width:220px;*/
	padding:0 0px 0 17px;
	font:11px Arial, Helvetica, sans-serif;
	color:#838484;
}
ul.product-list li img {
	display:block;
	margin:0 0 5px;
}
ul.product-list li .info-product {padding:0 0 0 5px; width:212px;}
ul.product-list li a.product-name {
	display:block;
	font:14px Arial, Helvetica, sans-serif;
	line-height:12px;
	height:24px;
	color:#719d1c;
	text-decoration:none;
	margin:0 0 3px;
}
ul.product-list li a.product-name:hover { text-decoration:underline;}
ul.product-list li .info {display:block;}
ul.product-list li .holder-price {
	padding:7px 0 0;
	overflow:hidden;
}
ul.product-list li .price {
	float:left;
	font:bold 22px Arial, Helvetica, sans-serif;
	color:#161616;
}

.priceview{
	font:bold 22px Arial, Helvetica, sans-serif;
	color:#161616;
}
ul.product-list li .in-basket {
	float:right;
	margin:0 17px 0 0;
	padding:0 15px;
	background: url(/skin/frontend/default/shop/i/bg-in-basket.png) repeat-x;
	height:20px;
	font:bold 10px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(js/PIE.htc);
}


/* inner.html */
.bread-crumbs {
	padding:10px 0 10px 14px;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.bread-crumbs li:first-child {
	padding-left:0;
	background: none;
}
.bread-crumbs li {
	padding:0 8px 0 20px;
	background: url(/skin/frontend/default/shop/i/arrow-bread-crumbs.gif) no-repeat 0 50%;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#838484;
	float:left;
}
.bread-crumbs li a {
	color:#5d5d5d;
	text-decoration:none;
	font:bold 11px Arial, Helvetica, sans-serif;
}
.bread-crumbs li a:hover { text-decoration:underline;}

.container-inner {
	width:737px;
	float:left;
}

.block-info-product {
	width:320px;
	float:left;
	margin:0px 0px 10px 30px;
}
.block-info-product .title-info-product {
	margin:0 0 15px 24px;
	font:27px Arial, Helvetica, sans-serif;
	color:#111;
	display:block;
}
.sorting-product {
	padding:15px 22px 14px;
	margin:0 0 15px;

	background:#f8f8f8;
	border:1px solid #e7e7e7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(js/PIE.htc);
	position:relative;
}
.sorting-product .title {
	display:block;
	font:bold 21px Arial, Helvetica, sans-serif;
	color:#111;
}
.sorting-product .block {
	padding:8px 0 0;
	margin:10px 0 0;
	background: url(/skin/frontend/default/shop/i/bg-box.gif) repeat-x;
}
.sorting-product .block .head-box {
	overflow:hidden;
	margin:0 0 8px;
}
.sorting-product .block .title {
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	color:#5d5d5d;
	float:left;
}
.sorting-product .block a.expand {
	float:right;
	padding:0 25px 1px 0;
	margin:0 4px 0 0;
	background: url(/skin/frontend/default/shop/i/bg-expand.gif) no-repeat 100% 50%;
	font:12px/17px Arial, Helvetica, sans-serif;
	color:#719d1c;
	text-decoration:none;
	height:17px
}

.sorting-product .block a.expand span {border-bottom:1px dashed #719d1c;}
.sorting-product .block a.expand:hover span { border:none}
.sorting-product .block .holder-item {
	padding:0 0 6px 4px;
	overflow:hidden;
}
.sorting-product .block .item span { 
	display:inline-block;
}
.sorting-product .block .item {
	float:left;
	width:350px;
	font:12px/12px Arial, Helvetica, sans-serif;
	color:#838484;
	overflow:hidden;
}
.sorting-product .block .info {
	overflow:hidden;
	display:block;
	width:30px;
	font:12px/12px Arial, Helvetica, sans-serif;
	color:#5d5d5d;
	text-align:center;
}




.filter-item {
	margin: 3px 0 3px 0;
	overflow:hidden;
}
.item-label {
	font:12px/13px Arial, Helvetica, sans-serif;
	overflow:hidden;
	display:block;
	width: 220px;
	float:left;
	background: url(/skin/frontend/default/shop/i/checkbox.png) no-repeat 0px -13px;
	padding: 0 0 0 20px;
}
.item-text {
	font:12px/13px Arial, Helvetica, sans-serif;
	overflow:hidden;
	display:block;
	width: 220px;
	float:left;
}
	.item-text a {
		font:12px/13px Arial, Helvetica, sans-serif;
		background: url(/skin/frontend/default/shop/i/checkbox.png) no-repeat 0 0;
		padding: 0px 0 0 20px;
		text-decoration:none;
	}
	.item-text a:hover {
		background: url(/skin/frontend/default/shop/i/checkbox.png) no-repeat 0px -13px;
	}
/*
a.btn-remove:link {
	display:block;	width: 15px;	height:15px;	background: transparent url(/skin/frontend/default/shop/i/removeS.png) no-repeat 0 0px;
}
a.btn-remove:hover {
	background: transparent url(/skin/frontend/default/shop/i/removeN.png) no-repeat 0 0px; 
}
*/

.item-count {
	overflow:hidden;
	display:block;
	width: 30px;
	float:left;
	text-align:right;
}

.box {
	margin: 0 0 13px;
	padding:12px 18px;
	border:1px solid #e7e7e7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(js/PIE.htc);
	position:relative;
	color:#111;
	background:#f8f8f8;
}
.sorting-box {
	float:left;
	overflow:hidden;
}
.sorting-box .sorting {
	width:172px;
	margin:0 7px 0 0;
}
.sorting-box .number-product { width:135px;}
.total-page {
	float:right;
	font:11px/20px Arial, Helvetica, sans-serif;
	color:#838484;
	margin:0 0 0 20px;
}
.total-page strong { color:#5d5d5d;}
.list-page {
	float:right;
	margin:0;
	padding:2px 0 0;
	list-style:none;
	overflow:hidden;
}
.list-page li {
	float:left;
	font:12px/17px Arial, Helvetica, sans-serif;
	text-align:center;
}
.list-page li a {
	display:block;
	text-decoration:none;
	color:#b7a76b;
	width:17px;
	height:17px;
}
.v-middle,
.list-page li a:hover,
.list-page li a.active {
	color:#fff;
	background:#719d1c;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(js/PIE.htc);
	position:relative;
}
.list-page li a.next {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:  transparent url(/skin/frontend/default/shop/i/bg-list-page-next.gif) no-repeat;
	margin:0 0 0 8px;
}
.list-page li a.prev {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:  transparent url(/skin/frontend/default/shop/i/bg-list-page-prev.gif) no-repeat;
	margin:0 8px 0 0;
}
.prodict-box {
	padding:4px 18px 16px 19px;
	border:1px solid #e7e7e7;
	margin:0 0 13px;
	list-style:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(js/PIE.htc);
	position:relative;
}
.prodict-box li:first-child { border:none;}
.prodict-box li {
	padding: 14px 0 0;
	border-top:1px solid #e7e7e7;
}
.prodict-box .product-list {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	font-size:0;
}             
.prodict-box .product-list li:first-child { padding:0;}
.prodict-box .product-list li {
	margin:0;
	border:none;
	float:none;
	display:inline-block;
	vertical-align:top;
}
*+html .prodict-box .product-list li {
	display:inline;
	z-index:1;
}

/* Оформление */
.holder .block-subtitle { 
	font-size:12px; 
	margin: 15px 0 5px 0; 
	text-transform:uppercase; 
	font-weight:bold;
}
.opisprice {
	font:12px/13px Arial, Helvetica, sans-serif;
	clear:both;
	padding: 0 0 0 4px;
}


table.border{
    border-collapse:collapse;
    vertical-align: middle;
}

table.border td{
    border:1px solid #E7E7E7;
    background-color:#F8F8F8; 
    color: 000000;
    padding: 10px;
    vertical-align: middle;
}

table.border th, table.border thead, table.border thead tr , table.border thead td{
    border:1px solid #E7E7E7;
    padding: 15px;
    font-weight: bold;
    background-color:#4E372B; 
    color: #ffffff;
    vertical-align: middle;
}


.category-description ul {
	margin: 0 0 0 10px;
	padding: 0 0 0 8px;

}

.category-description li {
	list-style: square;
	margin: 0 0 0 30px;
	padding: 4px 0;

}
.hideCont{display:none;}

.news-page {
 padding: 0 0 0 30px;
}
.news-page h1 {
	font-size:26px;
	font-weight: normal;
	color: #719D1C;
}

.news-page h2 {
	font-size:22px;
	font-weight: normal;
	color: #719D1C;
}
.news-page h3 {
	font-size:18px;
	font-weight: normal;
	color: #719D1C;
}
.news-page h4 {
/* 	font:bold 16px/40px Arial, Helvetica, sans-serif;*/
	font-size:16px;
	font-weight: normal;
	color: #719D1C;
}
.news-page h5,
.news-page h5 a {
	font-size:16px;
	font-weight: normal;
	color: #719D1C;
}

.news-page ul{
 padding: 0 0 0 25px;
 list-style: square;
}
.news-page li {
 padding: 0 0 6px 0;
}
/*.news-page li:before {
color: pink;
}*/

.news-page .back {
 	height:20px;
	background: url(/skin/frontend/default/shop/i/bg-in-basket.png) repeat-x;
	text-align:center;
	border:none;
	font:bold 10px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	display:inline-block;
	cursor:pointer;
	text-transform:uppercase;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(js/PIE.htc);
	position:relative;
	text-decoration:none;
	padding: 0 25px;
}

.news-page .date {
	color: #999999;
}
.rss {
 display:inline-block;
 position: relative;
 top:1px;
 height: 15px;
 padding: 0px 0 0 0;
}