#nav-menu {
	width:1077px;
	margin:15px auto 0;
	padding:0px 10px 0 10px;
	list-style:none;
	height:46px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
/*        background-color:#5e4234;*/
	background: url(../images/bg-nav.gif) repeat-x;
	background: linear-gradient(top, #5e4234 0%, #3d2b21 100%);
	background: -moz-linear-gradient(top, #5e4234 0%, #3d2b21 100%);
	background: -webkit-linear-gradient(top, #5e4234 0%, #3d2b21 100%);
	background: -o-linear-gradient(top,    #5e4234 0%, #3d2b21 100%);
	background: -ms-linear-gradient(top,   #5e4234 0%, #3d2b21 100%);
	background: linear-gradient(to bottom, #5e4234 0%, #3d2b21 100%);
/*	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5e4234', endColorstr='#3d2b21', GradientType=0);*/
	behavior: url(js/PIE.htc);
	position:relative;
	z-index:10000;
}

#nav-menu ul ul {
	display: none;
}

	#nav-menu ul li:hover > ul {
		display: block;
	}


#nav-menu ul {
	margin:0 0;
	padding: 0 0px;
	list-style: none;
	position: relative;
	display: inline-table;
/*	float:left;*/
}

	#nav-menu ul:after {
		content: ""; clear: both; display: block;
	}

	#nav-menu ul li {
		float: left;
	}
		#nav-menu ul li:hover {
			background: transparent;
			background: linear-gradient(top, #3d2b21 0%, #5e4234 100%);
			background: -moz-linear-gradient(top, #3d2b21 0%, #5e4234 100%);
			background: -webkit-linear-gradient(top, #3d2b21 0%,#5e4234 100%);
			background: -o-linear-gradient(top,  #3d2b21 0%,#5e4234 100%);
			background: -ms-linear-gradient(top,  #3d2b21 0%,#5e4234 100%);
			background: linear-gradient(to bottom,  #3d2b21 0%,#5e4234 100%);

		}

			#nav-menu ul li:hover a {
				color: #fff;
			}
		
		#nav-menu ul li a {
			font:bold 14px/22px Arial, Helvetica, sans-serif;
			text-shadow:1px 1px #000;

			display: block;
			padding: 12px 20px;
			color: #fff; 
			text-decoration: none;
			text-transform: uppercase;
		/*	text-align:left;*/
		}
			
		
	#nav-menu ul ul {
		min-width:250px;
		background: #5e4234; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
	}
		#nav-menu ul ul li {
			float: none; 
			border-bottom: 1px solid #3d2b21;
/*			border-bottom: 0px solid #3d2b21; */
			position: relative;
		}
			#nav-menu ul ul li a {
				font:bold 12px/22px Arial, Helvetica, sans-serif;
				text-shadow: none;
				padding: 8px 20px;
				color: #fff;
			}	
				#nav-menu ul ul li a:hover {
					background: #3d2b21;
				}
		
	#nav-menu ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		