<?php

?>



<?php if($crumbs && is_array($crumbs)): ?>
<!-- div class="holder" -->
<ul class="bread-crumbs">
        <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
	<li class="<?php echo $_crumbName ?>">
            <?php if($_crumbInfo['link']): ?>
                <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->htmlEscape($_crumbInfo['title']) ?>"><?php echo $this->htmlEscape($_crumbInfo['label']) ?></a>
            <?php elseif($_crumbInfo['last']): ?>
                <?php echo $this->htmlEscape($_crumbInfo['label']) ?>
            <?php else: ?>
                <?php echo $this->htmlEscape($_crumbInfo['label']) ?>
            <?php endif; ?>
	</li>
        <?php endforeach; ?>
</ul>
<!-- /div -->
<?php endif; ?>
