<?php
/* @category    design
 * @package     default_modern
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<div class="inner-footer">
	<div class="footer-contact">
		<div class="phone-box">
			<span class="phone">8 495 724-01-61</span>
			<span class="info-phone">Служба клиентов интернет-магазина ежедневно c 08:00 до 21:00</span>
		</div>

<form class="action" action="/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
	<span class="title">НОВОСТИ И АКЦИИ</span>
        <input value="Ваш e-mail" type="text" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
	<input type="submit" value="ПОДПИСАТЬСЯ" />
</form>

	</div>
	<div class="holder">
		<div class="holder">

<? echo $this->getChildHtml('cms_footer_links'); ?>

		</div>
<span class="descripion">
<div style="padding: 25px 0 0 0;">&copy; <? echo date('Y'); ?> Интернет-магазин строительных материалов <a href=/>Latyra.ru</a></div>

<div style="padding: 25px 0 0 0;">Эл.почта: <a href=mailto:zakaz@latyra.ru>zakaz@latyra.ru</a></div>


<div style="padding: 15px 0 0 0;">
    <!--LiveInternet counter--><script type="text/javascript"><!--
        new Image().src = "//counter.yadro.ru/hit?r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";h"+escape(document.title.substring(0,80))+
            ";"+Math.random();//--></script><!--/LiveInternet-->
    <!--LiveInternet logo--><img src="//counter.yadro.ru/logo?44.15" title="LiveInternet" alt="" border="0" width="31" height="31"/><!--/LiveInternet-->
</div>


</span>



	</div><!-- holder -->

</div><!-- inner footer -->


<?php 
// echo $this->getChildHtml('cms_footer_links');
// echo $this->getChildHtml('footer_links');
//           echo $this->getChildHtml('store_switcher');
?>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21248050 = new Ya.Metrika({id:21248050,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8615631-40', 'latyra.ru');
    ga('send', 'pageview');

</script>

<noscript><div><img src="//mc.yandex.ru/watch/21248050" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->