<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
/*

		<ul class="list-page">
			<li><a href="#" class="prev"></a></li>
			<li><a href="#">1</a></li>
			<li><a href="#" class="active">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#" class="next"></a></li>
		</ul>
*/

?>
  
<?php 
foreach ($this->getAvailableLimit() as  $_key=>$_limit) {
	if($this->isLimitCurrent($_key))
		$curlimit = $_key;
}
?>

		<span class="total-page">Всего страниц: <strong><?
 echo $this->getLastPageNum() ?></strong></span>

<?php if($this->getCollection()->getSize()): ?>

   <?php if($this->getLastPageNum()>1): ?>
<ul class="list-page">
        <?php if (!$this->isFirstPage()): ?>
            <li>
                <a class="prev<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>">
                </a>
            </li>
        <?php endif;?>


        <?php if ($this->canShowFirst()): ?>
            <li><a class="first" href="<?php echo $this->getFirstPageUrl() ?>">1</a></li>
        <?php endif;?>


        <?php if ($this->canShowPreviousJump()): ?>
            <li><a class="previous_jump" title="" href="<?php echo $this->getPreviousJumpUrl() ?>">...</a></li>
        <?php endif;?>



        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <li><a href="#" class="active"><?php echo $_page ?></a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
            <?php endif;?>
        <?php endforeach;?>




        <?php if ($this->canShowNextJump()): ?>
            <li><a class="next_jump" title="" href="<?php echo $this->getNextJumpUrl() ?>">...</a></li>
        <?php endif;?>

        <?php if ($this->canShowLast()): ?>
          <li><a class="last" href="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->getLastPageNum() ?></a></li>
        <?php endif;?>

        <?php if (!$this->isLastPage()): ?>
            <li><a class="next" href="<?php echo $this->getNextPageUrl() ?>"></a></li>
        <?php endif;?>

</ul>
    <?php endif; ?>

<?php endif ?>

