<script>
    jQuery(document).ready(function(){
        jQuery(".category-description p").contents().each(function(index, node) {
            if (node.nodeType == 8) {
                console.log(jQuery(node).parent());
                jQuery(node).parent().after("<a id='read_more' href='#'>Читать полностью</a>");
                jQuery('#read_more').nextAll().hide();
            }
        });
        jQuery("#read_more").click(function(){
                jQuery('#read_more').nextAll().slideToggle('normal');
                jQuery('#read_more').hide();
                return false;
            }
        )
    });
</script>
<?php

?>
<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>

<div id="scroll-to-text" class="page-title category-title">
    <?php if($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
        <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
    <?php endif; ?>
    <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
</div>



<?php
echo $this->getMessagesBlock()->getGroupedHtml() ;
?>
<?php if($_imgUrl): ?>
    <?php echo $_imgHtml ?>
<?php endif; ?>

<?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
    <div class="category-description std">
        <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
    </div>
<?php
            //get the children of the current category
            $subCats = Mage::getModel('catalog/category')->load($_category->getId())->getChildren();

            //get sub category ids
            $subCatIds = explode(',',$subCats);
            $collection = Mage::getModel('catalog/category')->getCollection()
                ->addAttributeToFilter('entity_id', array('in' => $subCatIds))
                ->addAttributeToSelect('*');

            if($collection)
            {
                $subCatIds = $collection->setOrder('position', 'asc');
            }
            ?>

            <?php if (count($subCatIds)): ?>
                <ul class="categories">
                    <?php foreach($subCatIds as $subCat): ?>
                        <?php if($subCat->getIsActive()): ?>
                            <li>
                                <?php //display category image
                                if($subCat->getThumbnail()): ?>
                                    <a href="<?php echo $subCat->getUrl(); ?>"><img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$subCat->getThumbnail(); ?>" title="<?php echo $subCat->getName(); ?>" /></a>
                                <?php else: ?>
                                <a href="<?php echo $subCat->getUrl(); ?>">
                                    <?php echo $subCat->getName(); ?>
                                </a>
                                <?php endif; ?>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        <?php endif;?>

<?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php echo $this->getProductListHtml() ?>

<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
<?php endif; ?>
