@import '../../_common.scss';


.df {

	.df-shipping-torg12 {

  		.df-footer {

			.df-footer-bottom {

				.df-footer-bottom-left {

                    li.df-row-1 {

                        .df-input-container {
							width: 54.5mm;
							margin-left: 5mm;
                        }

                        .df-label-right {
                        	float: right;
                        }
                    }


                    li.df-row-2 {
                        .df-input-container {
							float: right;
							width: 90mm;
                        }
                    }




                    li.df-row-3 {

                        .df-field-1 {
							float: left;
							width: 105mm;

							.df-input-container {
								width: 96mm;
								margin-right: 2mm;
							}
                        }

                        .df-field-2 {
							float: right;
							width: 27mm;

							.df-input-container {
								width: 18mm;
								margin-right: 2mm;
							}
                        }
                    }



                    li.df-row-4 {

                        margin-top: 2.5mm;

                        .df-field-1 {
							float: left;
							margin-right: 2mm;

							.df-input-container {
							    margin-left: 2mm;
								width: 25mm;
							}
                        }

                        .df-field-2 {
							float: left;
							width: 26.3mm;
							margin-right: 2mm;

							.df-input-container {
								width: 100%;
							}
                        }

                        .df-field-3 {
							float: right;
							width: 41.8mm;

							.df-input-container {
								width: 100%;
							}
                        }
                    }



                    li.df-row-5 {

                        margin-top: 2.5mm;

                        .df-field-1 {
							float: left;
							width: 60mm;
							margin-right: 2mm;

							.df-input-container {
							    margin-left: 2mm;
								width: 25mm;
							}
                        }

                        .df-field-2 {
							float: left;
							width: 26.3mm;
							margin-right: 2mm;

							.df-input-container {
								width: 100%;
							}
                        }

                        .df-field-3 {
							float: right;
							width: 41.8mm;

							.df-input-container {
								width: 100%;
							}
                        }
                    }



                    li.df-row-6 {

                        margin-top: 2.5mm;

                        .df-field-1 {
							float: left;
							margin-right: 2mm;

							.df-input-container {
							    margin-left: 2mm;
								width: 25mm;
							}
                        }

                        .df-field-2 {
							float: left;
							width: 26.3mm;
							margin-right: 2mm;

							.df-input-container {
								width: 100%;
							}
                        }

                        .df-field-3 {
							float: right;
							width: 41.8mm;

							.df-input-container {
								width: 100%;
							}
                        }
                    }    
                    

                    
				}   


			}        
								

  		}

	}
}