<?php /** @var Df_Torg12_Block_Frontend_Torg12 $this */ ?>

<div class='df-shipping-torg12'>


	<div class='df-title-container'>
		<div class='df-title'>
			<h1>Унифицированная форма № ТОРГ-12</h1>
			Утверждена постановлением Госкомстата
			<br/>России от 25.12.98 № 132
		</div>
	</div>



	<?php

		echo $this->renderHeading();
		echo $this->renderBody();
		echo $this->renderFooter();
		echo $this->renderErrors();

	?>

</div>

