<?php

?>
<div class="block">

	<div class="block-title">
        <span><?php echo $this->__('Newsletter') ?></span>
    </div>
    <div class="block-content">
<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
    <div class="form-subscribe">
        <?php /*?><label for="newsletter"><?php echo $this->__('Newsletter Sign-up:') ?></label><?php */?>
        <div class="input-box">
           <input type="text" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
	        <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><?php echo $this->__('Go') ?></button>
		</div>
        
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    new Varien.searchForm('newsletter-validate-detail', 'newsletter', '<?php echo $this->helper('newsletter')->__('Enter your email address') ?>');
//]]>
</script>
    </div>
</div>

