@import '../_common.scss';


.df {

	.df-shipping-torg12 {

  		.df-footer {

			.df-footer-top {
				width: 95%;
				margin: 0 0 0 5%;


				.df-row-1
				,
				.df-row-2 {

					.df-field {

						width: 100%;

						.df-label-right {
							float: left;
							width: 29%;
							padding: 0 0 0 1%;
						}

					}
				}


				.df-row-1 {
					.df-field {
						.df-label-left {
							width: 25%;
						}

						.df-input-container {
							width: 45%;
						}
					}
				}



				.df-row-2 {

					padding-bottom: 2mm;

					.df-field {
						.df-label-left {
							width: 8%;
						}

						.df-input-container {
							width: 62%;
						}
					}
				}



				.df-row-3 {
					$verticalMargin: 4.5mm;

					margin-top: -1 * $verticalMargin;


					.df-field-1 {

						width: 83%;
						float: left;

						.df-label-left {
							float: left;
							width: 43.25%;
							text-align: right;
							margin: $verticalMargin 2% 0 0;
						}

						.df-input-container {
							float: left;
							text-align: center;
							width: 54.75%;
							margin: $verticalMargin 0 0 0;

							.df-input {
								font-style: italic;
							}
						}
					}


					.df-field-2 {

						width: 15%;
						float: left;
						margin: 0 0 0 1%;
						padding: 2mm 0;
						text-align: center;

						border: $df_shipping_torg12__line_size_thick solid black;
						border-bottom: $df_shipping_torg12__line_size_normal solid black;

						.df-input-container {
							.df-input {
								font-style: italic;
							}
						}
					}
				}




				.df-row-4 {

					$verticalMargin: 4.5mm;
					$verticalMargin2: $verticalMargin - 0.5mm;

					margin-top: -1 * $verticalMargin;

					.df-field-1 {
						float: left;
						margin-top: $verticalMargin2;
						margin-right: 4.3mm;


						.df-label-left {
						}


						.df-input-container {

							$marginLeft: 4.8mm;

						    width: 47mm - $marginLeft;
							margin-left: $marginLeft;
						}
					}


					.df-field-2 {
						float: left;
						margin-top: $verticalMargin2;


						.df-label-left {
							float: right;
							text-align: right;
							margin: 0 3mm 0 0;
						}


						.df-input-container {
							float: right;
							text-align: center;
							width: 118.7mm;
						}
					}


					.df-field-3 {
						width: 15%;
						margin: 0 0 0 1%;
						float: left;
						text-align: center;

						padding: 2mm 0;
						border: $df_shipping_torg12__line_size_thick solid black;
						border-top: none;

						.df-input-container {
							width: 100%;
						}
					}
				}


			}

  		}

	}
}