<?php 
	$_sliderCollections = $this->getCollection();
    $width = Mage::helper('cybernetikz_cnslider')->getWidth();
    $height = Mage::helper('cybernetikz_cnslider')->getHeight();
?>
<?php if($_sliderCollections): ?>
<script type="text/javascript">
	jQuery(function() {
		jQuery('#cnslider').cycle({
			fx:     '<?php echo Mage::helper('cybernetikz_cnslider')->getEffect();?>',
			speed:  <?php echo Mage::helper('cybernetikz_cnslider')->getDelay()*1000;?>,
			timeout: <?php echo Mage::helper('cybernetikz_cnslider')->getLength()*1000;?>,
			<?php if(Mage::helper('cybernetikz_cnslider')->getPagination()): ?>
			pager:  '#cns-pagination',
			pagerAnchorBuilder: function(i,el){
				return '<li><a href="#">'+(i+1)+'</a></li>';
			}<?php if(Mage::helper('cybernetikz_cnslider')->getPlayPause()){ echo ","; } ?>
			<?php endif;?>
			
			<?php if(Mage::helper('cybernetikz_cnslider')->getNextPrev()): ?>
			prev: '.cns-prev',
			next: '.cns-next'
			<?php endif;?>
		});
		
		<?php if(Mage::helper('cybernetikz_cnslider')->getPlayPause()): ?>
			jQuery(function() {
				jQuery('#cns-pause').click(function() {
					jQuery('#cnslider').cycle('pause'); 
					jQuery('#cns-play').show();
					jQuery('#cns-pause').hide();
					return false;
				});
				
				jQuery('#cns-play').click(function() { 
					jQuery('#cnslider').cycle('resume'); 
					jQuery('#cns-pause').show();
					jQuery('#cns-play').hide();
					return false;
				});	
			});
		<?php endif;?>		
	});
</script>
	<style type="text/css">
		#cnslider-container{width:<?php echo $width;?>px;height:<?php echo $height;?>px;overflow:hidden;}
		
	</style>
	
	<!-- Start Slider Content--->
	<div id="cnslider-container">
		<div id="cnslider">
		<?php
			foreach($_sliderCollections as $slider):		
			?>        
				<div class="cns-item">
					<?php if ($imageUrl = $this->getImageUrl($slider,$width,$height)): ?>
					   <img src="<?php echo $imageUrl ?>" alt="<?php echo $this->escapeHtml($slider->getName()) ?>" />
					<?php endif; ?>
				  <div class="cns-contentbox">
					 <?php if(Mage::helper('cybernetikz_cnslider')->isEnableTitle() && $slider->getName()){ ?>
						<h2 class="cns-tille"><?php echo $slider->getName();?></h2>
					<?php } ?>
					<?php if(Mage::helper('cybernetikz_cnslider')->isEnableContent() && $slider->getContent()){ ?>
						<div class="cns-inner-content"><?php echo $slider->getContent();?></div>
					<?php } ?>
					<?php if(Mage::helper('cybernetikz_cnslider')->isEnableLink() && $slider->getLinkUrl()){ ?>
						<div class="cns-link"><a href="<?php echo $slider->getLinkUrl();?>"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)?>frontend/default/default/images/cybernetikz_cnslider/browse-more.png" align="Browse More" border="0" /></a></div>
					<?php } ?>
				  </div>
				</div>
			<?php endforeach; ?>
		</div>
        
        <?php if(Mage::helper('cybernetikz_cnslider')->getPagination()): ?>
		<ul class="cns-pagination" id="cns-pagination"></ul>
        <?php endif;?>
       
       <?php if(Mage::helper('cybernetikz_cnslider')->getPlayPause()): ?> 
		<div class="cns-pauseplay" id="cnslider">
        	<a id="cns-pause" href="#"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)?>frontend/default/default/images/cybernetikz_cnslider/pause.png" align="Pause" border="0" /></a>
        	<a id="cns-play" href="#"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)?>frontend/default/default/images/cybernetikz_cnslider/play.png" align="Play" border="0" /></a>
        </div>
        <?php endif;?>
        
        <?php if(Mage::helper('cybernetikz_cnslider')->getNextPrev()): ?>
		<div id="cns-prevnext">
			<div id="prev_button"><a id="cns-prev" class="cns-prev" href="#"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)?>frontend/default/default/images/cybernetikz_cnslider/prev.png" align="Prev" border="0" /></a></div>
			<div id="next_button"><a id="cns-next" class="cns-next" href="#"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)?>frontend/default/default/images/cybernetikz_cnslider/next.png" align="Next" border="0" /></a></div>
		</div>
        <?php endif;?>
	</div>
<?php endif;?>