<?php 

  $_product = $this->getProduct();
  $buttonTitle = $this->__('Add to Cart'); 

?>

<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <label for="qty"><?php echo $this->__('Qty:') ?></label>
        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><?php echo $buttonTitle ?></button>
        <div class="contact">
	    <div class="holder">
	    <a href="/contacts" class="city"><span>&#1054&#1073&#1088&#1072&#1090&#1085&#1099&#1081&#32&#1079&#1074&#1086&#1085&#1086&#1082</span></a>
	    </div>
        </div>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>
