<?php
$_rtl = Mage::getStoreConfig('custom_menu/general/rtl') + 0;
$_categories = $this->getStoreCategories();
if (is_object($_categories)) $_categories = $this->getStoreCategories()->getNodes();
?>
<div class="nav-container">
    <div id="custommenu" class="<?php echo $_rtl ? ' rtl' : ''; ?>">

        <?php

        if ($this->showHomeLink()) :

            ?>




            <?
            /*
                    <div class="menu">
                        <div class="parentMenu menu0">
                            <a href="<?php echo $this->getUrl('') ?>">
                                <span><?php echo $this->__('Home'); ?></span>
                            </a>
                        </div>
                    </div>
            */
            ?>

            <div id="menu991" class="menu" onmouseover="wpShowMenuPopup(this, event, 'popup991');"
                 onmouseout="wpHideMenuPopup(this, event, 'popup991', 'menu991')">
                <div class="parentMenu">
                    <a href="javascript:void(0);" rel="/"><span>Главная</span></a>
                </div>
            </div>
            <div id="popup991" class="wp-custom-menu-popup"
                 onmouseout="wpHideMenuPopup(this, event, 'popup991', 'menu991')"
                 onmouseover="wpPopupOver(this, event, 'popup991', 'menu991')">
                <div class="block1">
                    <div class="column first odd">
                        <div class="itemMenu level1">
                            <a class="itemMenuName level1" href="/o-kompanii.html"><span>О компании</span></a>
                            <a class="itemMenuName level1"
                               href="/contacts-latyra-shop.html"><span>Контактная информация</span></a>
                        </div>
                    </div>
                    <div class="column even">
                        <div class="itemMenu level1">
                            <a class="itemMenuName level1" href="/kak-sdelat-zakaz.html"><span>Как сделать заказ</span></a>
                            <a class="itemMenuName level1" href="/dostavka-i-oplata.html"><span>Доставка и оплата</span></a>
                            <a class="itemMenuName level1" href="/contacts"><span>Задать вопрос</span></a>
                        </div>
                    </div>
                </div>
                <div class="clearBoth"></div>
            </div>
        <?php endif ?>

        <?php foreach ($_categories as $_category): ?>
            <?php echo $this->drawCustomMenuItem($_category) ?>
        <?php endforeach ?>
        <div id="menu1" class="menu" onmouseover="wpShowMenuPopup(this, event, 'popup1');"
             onmouseout="wpHideMenuPopup(this, event, 'popup1', 'menu1')">
            <div class="parentMenu">
                <a href="javascript:void(0);" rel="/news-latyra/"><span>Полезные статьи</span></a>
            </div>
        </div>
        <div id="popup1" class="wp-custom-menu-popup"
             onmouseout="wpHideMenuPopup(this, event, 'popup1', 'menu1')"
             onmouseover="wpPopupOver(this, event, 'popup1', 'menu1')">
            <div class="block1">
                <div class="column first odd">
                    <div class="itemMenu level1">
                        <a class="itemMenuName level1" href="/news-latyra/category/instruktsii.html"><span>Инструкции</span></a>
                        <a class="itemMenuName level1" href="/news-latyra/category/materialy.html"><span>Материалы</span></a>
                        <div class="itemSubMenu level1">
                            <div class="itemMenu level2">
                                <a class="itemMenuName level2" href="/news-latyra/category/kuhnya.html">
                                    <span>Кухня</span>
                                </a>
                                <a class="itemMenuName level2" href="/news-latyra/category/vannaya.html">
                                    <span>Ванная</span>
                                </a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="column even">
                    <div class="itemMenu level1">
                        <a class="itemMenuName level1" href="/news-latyra/category/svoimi-rukami.html"><span>Своими руками</span></a>
                        <a class="itemMenuName level1" href="/news-latyra/category/dizain-interyerov.html"><span>Дизайн интерьеров</span></a>
                    </div>
                </div>
            </div>
            <div class="clearBoth"></div>
        </div>
        <div class="clearBoth"></div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var CUSTOMMENU_POPUP_WIDTH = <?php echo Mage::getStoreConfig('custom_menu/popup/width') + 0; ?>;
    var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo Mage::getStoreConfig('custom_menu/popup/top_offset') + 0; ?>;
    var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo Mage::getStoreConfig('custom_menu/popup/delay_displaying') + 0; ?>;
    var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo Mage::getStoreConfig('custom_menu/popup/delay_hiding') + 0; ?>;
    var CUSTOMMENU_RTL_MODE = <?php echo $_rtl; ?>;
    var wpCustommenuTimerShow = {};
    var wpCustommenuTimerHide = {};
    var wpActiveMenu = null;
    //]]>
</script>
